name: Deploy to App Distribution

on:
  pull_request:
    branches: [develop, master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Update auth secrets key
        env:
          AUTH_SECRET_KEY: ${{ secrets.AUTH_SECRET_KEY }}
        run: echo AUTH_SECRET_KEY="$AUTH_SECRET_KEY" > ./local.properties

      - name: Update auth secrets iv
        env:
          AUTH_SECRET_IV: ${{ secrets.AUTH_SECRET_IV }}
        run: echo AUTH_SECRET_IV="$AUTH_SECRET_IV" > ./local.properties

      - name: Run unit tests
        run: ./gradlew clean :settings:presentation:testDebug

      - name: Build Release APK
        run: ./gradlew assembleRelease

      - name: Deploy to App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1
        with:
          appId: ${{ secrets.FIREBASE_APP_ID }}
          serviceCredentialsFileContent: ${{ secrets.CREDENTIAL_FILE_CONTENT }}
          groups: internal-testers
          file: app/build/outputs/apk/release/app-release.apk
          releaseNotes: "Updated passing auth secret key"